<%= form_for([:admin, @field]) do |f| %>
  <%= errors_for(@field) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %> or <%= link_to "cancel", admin_fields_path %>
  </div>
<% end %>
