<%= form_for([:admin, @player]) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.text_field :birthdate, :value => "#{format_birthdate(@player.birthdate)}" %>
  </div>

  <div class="field">
    <%= f.label :parents %><br />
    <%= f.text_field :parents %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :alternate_phone_number %><br />
    <%= f.text_field :alternate_phone_number %>
  </div>

  <div class="field">
    <%= f.label :shirt_size %><br />
    <%= f.select :shirt_size, ShirtSize.all.collect{|ss| [ss, ss]}, { :include_blank => true } %>
  </div>

  <div class="field">
    <%= f.label :division_id %><br />
    <%= f.select :division_id, Division.all.collect{|t| [t.name, t.id ]}, { :include_blank => true } %>
  </div>

  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.select :team_id, Team.all.collect{|t| [t.name, t.id ]}, { :include_blank => true } %>
  </div>

  <div class="actions">
    <%= f.submit %> or <%= link_to "cancel", admin_players_path %>
  </div>
<% end %>
