<%= render "shared/validation_messages", :target => @import %>

<%= form_tag(import_admin_games_path) %>
  <div class="form-group">
    <%= label_tag :division_id, "Division:" %>
    <%= select_tag :division_id, options_from_collection_for_select(Division.ordered.all, "id", "name", @import.division_id), include_blank: true %>
  </div>
  <div class="form-group textarea-with-example">
    <div>
      <%= label_tag :csv, "CSV:" %>
      <textarea name="csv" rows="20"><%= @import.csv %></textarea>
    </div>
    <div>
      <label>Example CSV:</label>
      <pre>
4/9 6:00 PM	Ames Dodgers	Perry	Perry Junior																					
4/11 6:00 PM	Perry	Saydel	Saydel																					
4/17 6:00 PM	Perry	Ames Dodgers	Ames																					
4/18 6:00 PM	Perry	Ames Cardinals	Ames																					
4/23 6:00 PM	Perry	Ames Mets	Ames																					
5/1 6:00 PM	Urbandale Cubs	Perry	Perry Junior																					
5/2 6:00 PM	Ankeny Cubs	Perry	Perry Junior																					
5/6 6:00 PM	Perry	Saydel	Saydel																					
5/9 6:00 PM	Ankeny Royals	Perry	Perry Junior																					
5/13 6:00 PM	Perry	Urbandale Cardinals	Urbandale																					
5/14 6:00 PM	Urbandale Phillies	Perry	Perry Junior																					
5/20 6:00 PM	Ankeny Brewers	Perry	Perry Junior																					
5/23 6:00 PM	Perry	Ankeny Red Sox	Ankeny																					
5/29 6:00 PM	Perry	Ames Mets	Ames																					
5/30 6:00 PM	Ankeny Cubs	Perry	Perry Junior																					
6/4 6:00 PM	Urbandale Cubs	Perry	Perry Junior																					
      </pre>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Import"> or
    <%= link_to 'cancel', admin_games_path %>
  </div>
</form>

