<% @require_javascript = "pages/admin/game" %>

<%= form_for([:admin, @game]) do |f| %>
  <%= errors_for(@game) %>

  <div class="field">
    <%= f.label :visiting_team_id %><br />
    <%= f.grouped_collection_select(:visiting_team_id, Division.includes(:teams).all, :teams, :name, :id, :name, :include_blank => true) %>
  </div>

  <div class="field">
    <%= f.label :home_team_id %><br />
    <%= f.grouped_collection_select(:home_team_id, Division.includes(:teams).all, :teams, :name, :id, :name, :include_blank => true) %>
  </div>

  <div class="field">
    <%= f.label :field_id %><br />
    <%= f.select :field_id, Field.all.collect{|f| [f.name, f.id ]}, { :include_blank => true } %>
  </div>

  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.text_field :starts_at, :value => @game.starts_at_display %>
  </div>

  <div class="actions">
    <%= f.submit %> or <%= link_to "cancel", admin_games_path %>
  </div>
<% end %>
