<div id="home">
  <ul class="filters">
    <% Division.all.each do |division| %>
      <li style="background: <%= division.color %>;" class="<%= division.name.downcase %> on"><a href=#><%= division.name %></a></li>
    <% end %>
  </ul>

  <ul class="games">
    <% @games.group_by {|g| g.starts_at.strftime("%a %b %d")}.each do |date, games| %>
      <li>
        <div class="date"><%= date %></div>

        <ul>
          <% games.each do |game| %>
            <li class="game" data-division="<%= game.division_name %>">
              <div class="time" style="background-color: <%= game.division_color %>"><%= game.starts_at.strftime("%I:%M") %></div>
              <div class="details"><%= game.visiting_team.name + " vs " + game.home_team.name %> (@<%= game.field_name %>)</div>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
