<div id="home">
  <ul class="filters">
    <% Division.all.each do |division| %>
      <li style="background: <%= division.color %>;" class="<%= division.name.downcase %> on"><a href=#><%= division.name %></a></li>
    <% end %>
  </ul>
<!--   <div id="calendar">
  </div>
 -->

  <ul class="games">
    <% @games.group_by {|g| g.starts_at.strftime("%a %b %d")}.each do |date, games| %>
      <li>
        <span class="date"><%= date %></span>

        <ul>
          <% games.each do |game| %>
            <li class="game">
              <span class="time" style="background-color: <%= game.division_color %>"><%= game.starts_at.strftime("%I:%M") %></span>
              <%= game.visiting_team.name + " vs " + game.home_team.name %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
