<table class="data" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Time</th>
      <th>Division</th>
      <th>Visitor</th>
      <th>Home</th>
      <th>Field</th>
      <th class="dont-print"></th>
    </tr>
  </thead>
  <tbody>
    <% games.each do |game| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= game.starts_at_display %></td>
        <td><%= game.home_team.division.name %></td>
        <td><%= game.visiting_team.name %></td>
        <td><%= game.home_team.name %></td>
        <td><%= game.field_name %></td>
        <td class="dont-print">
          <%= link_to 'Edit', edit_admin_game_path(game) %>&nbsp;|&nbsp;<%= link_to 'Delete', admin_game_path(game), :confirm => "Are you sure?", :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

