<div id="header">
  <span class="name"><%= link_to("Perry Little League", root_path)%></span>
  <div class="links">
    <% if current_user %>
      <span>Logged in as <strong><%= current_user.email %></strong> | <%= link_to("logout", destroy_user_session_path) %></span>

      <% if current_user.admin? %>
        <span> | <%= link_to("admin", admin_divisions_path) %></span>
      <% end %>
    <% else %>
      <%= link_to("login", new_user_session_path) %>
    <% end %>
  </div>
</div>
