<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN - Perry Little League</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "matte" %>
    <%= stylesheet_link_tag "print",  :media => "print"  %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render :partial => 'common/header' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= menu(link_to("Divisions", admin_divisions_path),
             link_to("Teams", admin_teams_path),
             link_to("Players", admin_players_path),
             link_to("Coaches", admin_coaches_path)) %>

    <div id="content">
      <%= yield %>
    </div>

    <%= javascripts %>
  </body>
</html>
