<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN - Perry Little League</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= header %>

    <%= menu(link_to("Divisions", admin_divisions_path),
             link_to("Teams", admin_teams_path),
             link_to("Players", admin_players_path),
             link_to("Coaches", admin_coaches_path),
             link_to("Fields", admin_fields_path),
             link_to("Games", admin_games_path)) %>

    <div id="content" class="admin">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
