<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN - Perry Little League</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top dont-print">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Perry Little League</a>
          <ul class="nav">
            <li class="<%= request.path.eql?(admin_divisions_path) ? 'active' : '' %>"><%= link_to("Divisions", admin_divisions_path) %></li>
            <li class="<%= request.path.eql?(admin_teams_path) ? 'active' : '' %>"><%= link_to("Teams", admin_teams_path) %></li>
            <li class="<%= request.path.eql?(admin_players_path) ? 'active' : '' %>"><%= link_to("Players", admin_players_path) %></li>
            <li class="<%= request.path.eql?(admin_coaches_path) ? 'active' : '' %>"><%= link_to("Coaches", admin_coaches_path) %></li>
            <li class="<%= request.path.eql?(admin_fields_path) ? 'active' : '' %>"><%= link_to("Fields", admin_fields_path) %></li>
            <li class="<%= request.path.eql?(admin_games_path) ? 'active' : '' %>"><%= link_to("Games", admin_games_path) %></li>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to("logout", destroy_user_session_path) %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container admin" id="content">
      <div class="notice"><%= notice %></div>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ga" if Rails.env.production? %>
  </body>
</html>
