<!DOCTYPE html>
<html>
  <head>
    <title>Perry Little League</title>
    <%= stylesheets %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= header %>

    <%= menu(link_to("Home", root_path),
             link_to("Teams", teams_path)) %>

    <div id="content" class="public">
      <%= yield %>
    </div>

    <%= javascripts %>
  </body>
</html>
