<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Perry Little League</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "modernizr" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">Perry Little League</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%= request.path.eql?(root_path) ? 'active' : '' %>"><%= link_to("Home", root_path) %></li>
              <li class="hidden-phone <%= request.path.eql?(calendar_path) ? 'active' : '' %>"><%= link_to("Calendar", calendar_path) %></li>
              <li class="<%= request.path.eql?(teams_path) ? 'active' : '' %>"><%= link_to("Teams", teams_path) %></li>
            </ul>
            <ul class="nav pull-right">
              <% if current_user %>
                <li><%= link_to("logout", destroy_user_session_path) %></li>

                <% if current_user.admin? %>
                  <li><%= link_to("admin", admin_divisions_path) %></li>
                <% end %>
              <% else %>
                <li><%= link_to("login", new_user_session_path) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container public" id="app">
      <div class="notice"><%= notice %></div>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ga" if Rails.env.production? %>
  </body>
</html>
