<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perry Little League</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Perry Little League</a>
          <ul class="nav">
            <li class="<%= request.path.eql?(root_path) ? 'active' : '' %>"><%= link_to("Home", root_path) %></li>
            <li class="<%= request.path.eql?(calendar_path) ? 'active' : '' %>"><%= link_to("Calendar", calendar_path) %></li>
            <li class="<%= request.path.eql?(teams_path) ? 'active' : '' %>"><%= link_to("Teams", teams_path) %></li>
          </ul>
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to("logout", destroy_user_session_path) %></li>

              <% if current_user.admin? %>
                <li><%= link_to("admin", admin_divisions_path) %></li>
              <% end %>
            <% else %>
              <li><%= link_to("login", new_user_session_path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container public" id="app">
      <div class="notice"><%= notice %></div>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ga" if Rails.env.production? %>

<!--
    menu(,
             link_to("Calendar", calendar_path),
             link_to("Teams", teams_path)) %>
           -->
  </body>
</html>
