<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perry Little League</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= header %>

    <%= menu(link_to("Home", root_path),
             link_to("Teams", teams_path)) %>

    <div id="content" class="public">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
