<!DOCTYPE html>
<html>
  <head>
    <title>Perry Little League</title>
    <%= stylesheets %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= header %>

    <%= menu(link_to("Home", root_path),
             link_to("Teams", teams_path)) %>

    <div id="content" class="public">
      <%= yield %>
    </div>

    <% if @require_javascript %>
      <script src="/javascripts/require-config.js"></script>
      <script data-main="<%= @require_javascript %>" src="/javascripts/require-jquery.js"></script>
    <% end %>
  </body>
</html>
